body{
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* Navigation */
.navbar-header {
	padding: 0;
}

.navbar-header .col {
    padding: 0 !important;
}	

.navbar {		
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.navbar .navbar-brand {
    color: white;
    padding-left: 0;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item.open > a {
    background: none !important;
}

.dropdown-toggle::after {
    display: none;
}

a.nav-link {
    color: white !important;
}
/* End of Navigation */



.head {
    color: white;
}

.head2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.img {
    background-image: url("../img/windowsXP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
}

.lang {
    text-align: justify;
    text-align-last: right;
}

.item {
    background-size: cover;
    background-color: rgba(100, 100, 100, 0.2);
}

.nounder {
    text-decoration: none;
    color: white;
}

.nounder:hover {
    text-decoration: none;
    color: white;
}

.proj {
    text-align-last: right;
}

/*For Mobile*/
@media (min-width: 751px){
    #personal {
        width: 100% !important;
        max-width: 200px !important;
        height: auto !important;
    }
}
/**/
@media (max-width: 750px){
    #personal {
        width: 50% !important;
        max-width: 200px !important;
        height: auto !important;
    }

    #personal.rounded {
        width: 75% !important;
        max-width: 680px !important;
        height: auto !important;
    }
    
    .proj {
        font-size: 25px;
        text-align: center !important;
        text-align-last: center !important;
    }
    
    .head {
        font-size: 25px;
    }

    .lang {
        text-align: justify !important;
        text-align-last: left !important; 
    }

    .img {
        padding: 75px;
    }
}