body{
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

a.nav-link{
    color: white !important
}

.navbar-header {
	padding: 0;
}

.navbar-header .col {
    padding: 0 !important;
}	

.navbar {		
    background: maroon;
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.navbar .navbar-brand {
    color: white;
    padding-left: 0;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item.open > a {
    background: none !important;
}

.img {
    background-image: url("../img/windowsXP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
}
.me {
    padding-bottom: 5%;
}

.head {
    color: white;

}

.head2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}